---
---

<p> 
  Software Engineer, graduate from Universidad del Norte in Barranquilla, COL 🇨🇴, with over 5 years of experience working with cutting-edge technologies, having worked both at startup and Big Tech level with local and foreign clients.
  I’m a product-driven and solution-driven Full-Stack Engineer who strives to always give the best experience, solution and product to the customer. My portfolio includes projects with renowned industry Goliaths like Microsoft, where I contributed to the wellbeing of the system that load balances M365 customers cloud data.
  Currently living in Germany 🇩🇪 looking for the next opportunity to grow and provide value to the world :)
</p>