<section class="flex flex-col p-12 border border-[#B3B3B3] max-w-6xl mx-auto">
  <h1 class="text-6xl md:text-7xl">Hi, <br>I’m <strong>John Fontalvo</strong></h1>
  <p class="mt-6 text-xl font-light max-w-4xl">
    I'm a Software Engineer, graduate from 
    <a href="https://uninorte.edu.co" class="underline font-bold">Universidad del Norte</a> 
    in Barranquilla, Colombia 🇨🇴, with over 5 years of experience working with cutting-edge technologies, 
    having worked both at startup and Big Tech level with local and foreign clients. </p>

  <p class="mt-6 text-xl font-light max-w-4xl">
  I’m a product-driven and solution-driven Full-Stack Engineer who strives to always give the best experience, 
  solution and product to the customer.</p>
  
  <p class="mt-6 text-xl font-light max-w-4xl">
  My portfolio includes projects with renowned industry Goliaths like
  <a href="https://microsoft.com" class="underline font-bold">Microsoft</a>, 
  where I contributed to the wellbeing of the system that load balances M365 customers cloud data. </p>

  <p class="mt-6 text-xl font-light max-w-4xl">
  Currently living in Altensteig, Germany 🇩🇪 looking for the next opportunity to grow and provide value to the world :)
  </p>
</section>