---
import Layout from '../layouts/Layout.astro';
import Main from "../components/main/Main.astro";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
---

<Layout>
	<Header />
  <main>
    <Main />
  </main>
  <Footer />
</Layout>