<nav class="max-w-6xl mx-auto px-1">
  <div class="mx-auto px-4 py-4 flex justify-between items-center">
    <ul class="flex gap-15 text-xl font-light">
      <li><a href="#about" class="hover:text-blue-600">About me</a></li>
      <li><a href="#experience" class="hover:text-blue-600">Experience</a></li>
      <li><a href="#projects" class="hover:text-blue-600">Projects</a></li>
    </ul>
  </div>
</nav>