---
import "../styles/global.css";
import "../styles/fonts.css";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
const { title = "John Fontalvo" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-50 text-gray-900 font-sans">
    <Header />
			<main>
				<section class="flex flex-col p-12 border border-[#B3B3B3] max-w-6xl mx-auto">
					<slot />
				</section>
			</main>
		<Footer />
  </body>
</html>