---
import "../styles/global.css";
import "../styles/fonts.css";
const { title = "John Fontalvo" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-50 text-gray-900 font-sans">
    <slot />
  </body>
</html>